<%= render "application/navbar" %>

<div class="container mt-3">
  <h1>Create list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
    <% end %>
k</div>