<%= render "application/navbar" %>

<div class="container mt-3">
  <h1><%= @list.name %></h1>
  <%= link_to "Create bookmark", new_list_bookmark_path(@list) %>
  <ul>
  <% @list.bookmarks.each do |bookmark| %>
    <% movie = Movie.find(bookmark[:movie_id]) %>
    <li>
      <%= "#{movie[:title]} - #{bookmark[:comment]}" %>
      <%= link_to "Delete", bookmark_path(bookmark),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
  </ul>
</div>